.experience {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.experience-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.experience-item h2 {
  margin-bottom: 0.5rem;
}

.experience-item h3 {
  color: #666;
  margin-bottom: 0.5rem;
}

.period {
  font-style: italic;
  color: #888;
  margin-bottom: 1rem;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  list-style-type: none;
}

.skills li {
  background-color: rgb(var(--accent-light));
  color: rgb(var(--accent-dark));
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: bold;
}